/* Start of utils */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

:root {
    --main-bg-color: rgb(212, 175, 55);
    --font1: 'Poppins', cursive;
    --font2: 'Roboto', sans-serif;

}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
     background-color: #9d00ff;
         -webkit-border-radius: 2px;
        border-radius: 2px; 
        border: none;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-family: var(--font2);
        font-size: 15px;
        padding: 11px 30px;
        text-align: center;
        text-decoration: none;
        margin-top: 17px;
        transition: 0.5s;
}


/* Animations for button  */
@keyframes glowing {
    25% {
      background-color: #0518a8;
      box-shadow: 0 0 5px #9d00ff;
      color: white;
    }
    55% {
      background-color: #f05d4f;
      box-shadow: 0 0 15px  #1965e8;
      color: white;
    }
    100% {
      background-color: #9d00ff;
      box-shadow: 0 0 5px #D7000F;
      color: white;
    }
    50%{
        transform: translateY(3px);
        }
    50% {
            transform: translateY(-3px);
        }
  }

  .btn {
      animation: glowing 1300ms infinite;
    
}
.btn2{
    display: inline-block;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 15px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
  }
  .btn2:hover{
    border: 1px solid #007bff;
    background: #007bff;
    color: white;
  }
    .form-input{
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 4px;
    font-family: var(--font1);
}
/* End of utils */
* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  cursor: pointer;
}

body {
  margin: 0;
}

#header {
  width: 100%;
  z-index: 1000;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgb(4 9 30 / 70%), rgb(4 9 30 / 70%)), url('nyc.jpg');
  background-position: center;
  background-size: cover;

}

nav {

  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;

}

nav img {
  border-radius: 100px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-family: poppins;
}

.nav-links ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li a:hover::after {
  width: 100%
}

nav .fa {
  display: none;
}

@media(max-width: 663px) {
  #navLinks {
    display: none;
    transition: 0.5s;
  }

  .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-family: poppins;
  }

  .nav-links ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
  }

  .nav-links ul li a:hover::after {
    width: 100%
  }

  .ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .nav-links {
    position: absolute;
    background: linear-gradient(rgb(4 9 30 / 100%), rgb(4 9 30 / 100%));
    height: 100vh;
    width: 0px;
    top: 0;
    left: 0;
    text-align: left;
    z-index: 2;
    transition: 0.3s;
  }

  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    height: 22px;
    width: 22px;
  }

  nav .fa-times {
    color: white;

  }

  .nav-links ul {
    padding: 30px;
  }

  .container {
    margin-top: 70px;
  }

  .container h1 {
    font-size: 41px;
    color: White;
  }

  p {
    font-size: 10px;
  }

  .btn {
    font-size: 15px;
  }
}

@media(max-width: 460px) {
  .container {
    margin-top: 200px;
  }

  .container h1 {
    font-size: 30px;
    color: White;
  }

  p {
    font-size: 10px;
  }

  .btn {
    font-size: 15px;
  }
}

.container {
  width: auto;
  height: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

h1 {
  font-size: 62px;
  color: White;
}

p {
  color: white;
  font: 30px;

}

/* Services  */
#services {
  background-color: white;
  padding: 50px 0;
}

.container2 {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.subtitle {
  color: black;
  font-size: 15px;
  margin-top: 5px;
}

h2 {
  font-size: 50px;
}


.services-panel {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}



.service-column {

  width: auto;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid rgba(0, 0, 10, 0.12);
  border-radius: 8px;
  box-sizing: border-box;
  vertical-align: top;
  transition: box-shadow 0.5s;
}

.service-column:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.29);

}

.service-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.service-price {
  font-size: 20px;
  color: #007bff;
  margin-bottom: 20px;
}

.service-features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.service-features li {
  margin-bottom: 10px;
}

/* teams-section */
#teams {}

.teams-panel {
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.teams-col {
  width: auto;
  margin: 20px;
  background-color: #fff;
  box-sizing: border-box;
  vertical-align: top;
  transition: box-shadow 0.5s;
}

.members-title {
  font-size: 20px;
}

.members-img img {
  border-radius: 50%;

}

.content i {
  padding: 10px;
  margin-top: -30px;
}
/* Footer  */

.footer {
  background: linear-gradient(rgb(4 9 30 / 100%), rgb(4 9 30 / 100%));
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  max-width: 300px;
  text-align: left;
  margin: 0 20px;
}

.footer-section h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-section a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease-in-out;
}

.footer-section a:hover {
  color: #fff;
}

.footer-section p {
  color: #bbb;
  font-size: 0.9rem;
  line-height: 1.6;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #55acee; 
}

.copyright {
  margin-top: 30px;
  color: #bbb;
  font-size: 0.8rem;
}
